*{
 padding: 0;
 margin: 0;
}
.btn.btn-outline-primary{
 width: 150px;
 border-radius: 20px;
}
.btn.btn-secondary{
  width: 150px;
   border-radius: 20px;
}
.jumbotron{
 margin-left: 50px;
 margin-right: 50px;
  border-radius:50px;
}
.text{
  text-align: center;
 
}